// theme generated via Sencha CMD
// <cmd>sencha generate theme -e ext-theme-crisp-touch tunes-theme-touch</cmd>

// base theme overwrites
$base-color : #8BA701;

$panel-header-background-color : $base-color;
$panel-header-color : #FFFFFF;
$panel-header-font-weight : bold;
