// theme generated via Sencha CMD
// <cmd>sencha generate theme -e ext-theme-crisp-touch tunes-theme-touch</cmd>

// custom styling
$video-bg-color : #FFFFFF;
$video-font-color : invert($video-bg-color);
$video-over-color : #3490AB;

div.video {
    float      : left;
    text-align : center;
    height     : 144px;
    padding    : 2px 8px 8px 8px;
    width      : 132px;
    background : lighten($video-font-color, 64%);
    color      : lighten($video-font-color, 32%);
    opacity    : 0.6;
    overflow   : hidden;
    border     : 6px solid lighten($video-font-color, 64%);
    margin     : 12px;

    figure {
        margin : 8px 0px 8px 0px;
    }

    figcaption {
        font-size : 8pt;

        .title {
            font-weight   : bold;
            width         : 100px;
            white-space   : nowrap;
            overflow      : hidden;
            text-overflow : ellipsis;
        }

        .artist {
            @extend .title;

            font-weight : normal;
        }
    }

    &.overvideo {
        border     : 6px solid $video-over-color;
        opacity    : 1.0;
        background : $video-bg-color;
        color      : $video-over-color;
    }
}

div.selectedvideo {
    @extend div.video.overvideo;

    border : 6px solid $base-color;
    color  : $video-font-color;
}

.preview {
    padding : 8px;

    * {
        width : 100%;
    }

    h1 {
        color     : $base-color;
        font-size : 1.5em;
    }

    h2 {
        color     : mix($base-color, $video-bg-color, 32%);
        font-size : 1.2em;
    }

    video {
        border : 6px solid $base-color;
    }
}

// overwrite
.x-tree-icon-leaf {
    background-image : none;
    margin-left      : -48px;
}
